<div class="main1">
<div class="container">
    <div class="row ">
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-image text-center">
                    <img src="../../assets/images/BirbalPhoto.jpeg" alt="Birbal Kumar" width="250px;" height="350px;">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" width="250px;" height="350px;">
                    <h1><strong>Profile</strong></h1>
                    <h1>Birbal Kumar</h1>
                    <b><h3>College : Narula Institute of Technology, Kolkata</h3></b>
                    <b><h3>Course : MEAN Stack</h3></b>
                    <b><h3>Address : Bally Jute mill colony howrah-711201 </h3></b>
                    To secure a challenging position in
                    reputed firm, where knowledge of
                    Converged
                    Technology,
                    technical
                    aptitude, and unyielding
                    commitment to work can effectively be
                    utilized to contribute to the
                    successful and profitable operation of
                    the firm.
                 </div>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- Udal -->
<div class="container">
    <div class="row ">
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-image text-center">
                    <img src="../../assets/images/udalkumar.jpeg" alt="Udal Kumar" width="250px;" height="350px;">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" width="250px;" height="350px;">
                    <h1><strong>Profile</strong></h1>
                    <h1>Udal Kumar</h1>
                    <b><h3>College : Narula Institute of Technology, Kolkata</h3></b>
                    <b><h3>Course : MEAN Stack</h3></b>
                    <b><h3>Address : Bally Jute mill colony howrah-711201 </h3></b>
                    To secure a challenging position in
                    reputed firm, where knowledge of
                    Converged
                    Technology,
                    technical
                    aptitude, and unyielding
                    commitment to work can effectively be
                    utilized to contribute to the
                    successful and profitable operation of
                    the firm.
                 </div>
            </div>
        </div>
    </div>
</div>
<!-- Nilanjan Gupta -->
<div class="container">
    <div class="row ">
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-image text-center">
                    <img src="../../assets/images/Nilajan Gupta.jpeg" alt="Nilanjan Gupta" width="250px;" height="350px;">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" width="250px;" height="350px;">
                    <h1><strong>Profile</strong></h1>
                    <h1>Nilanjan Gupta</h1>
                    <b><h3>College : Meghnad Saha Institute of Technology</h3></b>
                    <b><h3>Course : MEAN Stack</h3></b>
                    <b><h3>Address : I/C-8,Aswininagar,Baguiati,kol-700159 </h3></b>
                    To secure a challenging position in
                    reputed firm, where knowledge of
                    Converged
                    Technology,
                    technical
                    aptitude, and unyielding
                    commitment to work can effectively be
                    utilized to contribute to the
                    successful and profitable operation of
                    the firm.
                 </div>
            </div>
        </div>
    </div>
</div>

<!-- ATif -->
<div class="container">
    <div class="row ">
        <div class="col-md-4 ">
            <div class="card">
                <div class="card-image text-center">
                    <img src="../../assets/images/Atif.jpeg" alt="Atif" width="250px;" height="350px;">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" width="250px;" height="350px;">
                    <h1><strong>Profile</strong></h1>
                    <h1>MD ATIF KHAN</h1>
                    <b><h3>College : Narula Institute of Technology, Kolkata</h3></b>
                    <b><h3>Course : MEAN Stack</h3></b>
                    <b><h3>Address :  Kela Bagan  line no -01/05 
                        Po + ps -jagatdal Dis (north 24 parganas )
                        Pin code  - 743125 </h3></b>
                    To secure a challenging position in
                    reputed firm, where knowledge of
                    Converged
                    Technology,
                    technical
                    aptitude, and unyielding
                    commitment to work can effectively be
                    utilized to contribute to the
                    successful and profitable operation of
                    the firm.
                 </div>
            </div>
        </div>
    </div>
</div>

</div>
<app-footer></app-footer>   
