
<div class="main2">
<div class="container-fluid" id="navbar">
    <div class="row justify-content-around  ">
        <div class="col">
            <a class="btn btn-primary col-md-2" routerLink="/home" >Home </a>
            <a  class="btn btn-primary col-md-2"routerLink="/course">Course</a>
            <a  class="btn btn-primary col-md-2"routerLink="/help">Help</a>
            <a  class="btn btn-primary col-md-2"routerLink="/aboutus">About Us</a>
            <a class="btn btn-primary col-md-2" routerLink="/register" routerLinkActive="active">SignUp</a>
            <a  class="btn btn-primary col-md-2"routerLink="/login">LogIn</a>
        </div>
                      
                       

                     
                    
                         
                       
    </div>
</div>
</div>



