


    <div class="container-fluid" id="slidediv">
        <ngb-carousel id="carousel">
           <!-- s1 -->
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/images/b1.jpg" alt="Slide1">
              </div>
              <div class="carousel-caption">
                <h1 id="slidetext">Training & Placement Guide</h1>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <!-- s2 -->
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/images/b2.jpg" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h1 id="slidetext">Training & Placement Guide</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <!-- s3 -->
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/images/b3.jpg" alt="Random third slide" >
              </div>
              <div class="carousel-caption">
                <h1 id="slidetext">Training & Placement Guide</h1>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
            <!-- s4 -->
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/images/b4.jpg" alt="Random third slide" >
              </div>
              <div class="carousel-caption">
                <h1 id="slidetext">Training & Placement Guide</h1>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
            <!-- s5 -->
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/images/b5.jpg" alt="Random third slide" >
              </div>
              <div class="carousel-caption">
                <h1 id="slidetext">Training & Placement Guide</h1>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
            <!-- s6 -->
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/images/b6.jpg" alt="Random third slide" >
              </div>
              <div class="carousel-caption">
                <h1 id="slidetext">Training & Placement Guide</h1>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
          </ngb-carousel>
 

    </div>
    <app-navbar></app-navbar>

     
<router-outlet></router-outlet>